<header class="header">

    <nav class="navbar">
        <div class="logo-block">
            <img src="../../img/logo.svg" alt="Logo img">
        </div>
        <div class="navbar-container">
            <input type="checkbox" name="" id="">

            <ul class="menu-items">
                <li><a  class="primary-font-color" href="#home">Головна</a></li>
                <li><a  class="primary-font-color" href="#about">Чому ми?</a></li>
                <li><a  class="primary-font-color" href="#ourJournal">Про нас</a></li>
                <li><a  class="primary-font-color" href="#Projects">Ми евакуюєм:</a></li>
                <li><a  class="primary-font-color" href="#news">Відгуки</a></li>
                <li><a  class="primary-font-color" href="#features">Контакти</a></li>
                <li><a  class="primary-font-color" href="#contact">Галерея</a></li>
                <div class="header-working-shedule">
                    <p class="working-shedule__days">ПН - НД</p>
                    <p class="working-shedule__hours">00:00 - 24:00</p>
                </div>
                <div class="header-burger-call-btn">
                    <a target="_blank" href="tel:+38 (068) 006 42 11" class="primary-burder-btn-bg">+38 (068) 006 42 11</a>
                </div>
                <a target="_blank" href="https://t.me/+380680064211" class="header-burger-telegram-btn">Телеграм</a>
            </ul>
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
        </div>
    </nav>
    <div class="header-content main-wrapper">
        <p class="header-sub-title">По всій Україні</p>
        <h1 class="header-title surface-font-color">Всі типи евакуації - ми допоможемо вам в будь-яких обставинах</h1>
        <div class="header-call-container">
            <div class="header-call-btn">
                <a target="_blank" href="tel:+38 (068) 006 42 11"  class="header-call-btn primary-btn-bg">+38 (068) 006 42 11</a>
            </div>
            <div class="header-telegram-btn--container">
                <a target="_blank" href="https://t.me/+380680064211" class="header-telegram-btn">Телеграм</a>
            </div>
        </div>
    </div>
    <div class="header-slider">
        <div class="header-slider">
            <img src="../../img/carsGalery/car1.jpg" alt="Car image">
            <img src="../../img/carsGalery/car2.jpg" alt="Car image">
            <img src="../../img/carsGalery/car6.jpg" alt="Car image">
            <img src="../../img/carsGalery/car7.jpg" alt="Car image">
            <img src="../../img/carsGalery/car10.jpg" alt="Car image">
            <img src="../../img/carsGalery/car11.jpg" alt="Car image">
            <img src="../../img/carsGalery/car13.jpg" alt="Car image">
            <img src="../../img/carsGalery/car14.jpg" alt="Car image">
            <img src="../../img/carsGalery/car16.jpg" alt="Car image">
            <img src="../../img/carsGalery/car25.jpg" alt="Car image">
            <img src="../../img/carsGalery/car30.jpg" alt="Car image">
        </div>
    </div>
</header>
