<header class="header">

    <nav class="navbar">
        <div class="logo-block">
            <img src="../../img/logo.svg" alt="Logo img">
        </div>
        <div class="navbar-container">
            <input type="checkbox" name="" id="">

            <ul class="menu-items">
                <li><a  class="primary-font-color" href="#home">Головна</a></li>
                <li><a  class="primary-font-color" href="#about">Чому ми?</a></li>
                <li><a  class="primary-font-color" href="#ourJournal">Про нас</a></li>
                <li><a  class="primary-font-color" href="#Projects">Ми евакуюєм:</a></li>
                <li><a  class="primary-font-color" href="#news">Відгуки</a></li>
                <li><a  class="primary-font-color" href="#features">Контакти</a></li>
                <li><a  class="primary-font-color" href="#contact">Галерея</a></li>
                <div class="header-working-shedule">
                    <p class="working-shedule__days">ПН - НД</p>
                    <p class="working-shedule__hours">00:00 - 24:00</p>
                </div>
                <div class="header-call-btn">
                    <button class="primary-btn-bg">+38 (068) 006 42 11</button>
                </div>
                <div class="header-telegram-btn"></div>
            </ul>
            <div class="hamburger-lines">
                <span class="line line1">М</span>
                <span class="line line2">Е</span>
                <span class="line line3">НЮ</span>
            </div>
        </div>
    </nav>
    <div class="header-content main-wrapper">
        <p class="header-sub-title">По всій Україні</p>
        <h1 class="header-title surface-font-color">Всі типи евакуації - ми допоможемо вам в будь-яких обставинах</h1>
        <div class="header-call-btn">
            <button class="header-call-btn primary-btn-bg">+38 (068) 006 42 11</button>
        </div>
        <div class="header-telegram-btn--container">
            <button class="header-telegram-btn">Telegram</button>
        </div>
    </div>
    <div class="header-slider">
        
    </div>
</header>
