<main class="main main-wrapper">
    
    <div class="whyWe wrapper">
        <h2>Чому ми?</h2>
        <div class="whyWe-block">
            <img src="../../img/timeIcon.webp" alt="Time icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">24/7</h3>
                <p class="whyWe-block-description--text">графік роботи</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/smileIcon.webp" alt="Smile icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">1000+</h3>
                <p class="whyWe-block-description--text">щасливих клієнтів</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/calendarIcon.webp" alt="Calendar icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">8+</h3>
                <p class="whyWe-block-description--text">років досвіду</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/payIcon.webp" alt="Card icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">Безготівкова</h3>
                <p class="whyWe-block-description--text">оплата, якщо вам зручніше</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/securityIcon.webp" alt="Security icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">Безпека</h3>
                <p class="whyWe-block-description--text">відповідно до норм та правил</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/ukrIcon.webp" alt="Ukraine icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">Без кордонів</h3>
                <p class="whyWe-block-description--text">працюємо по всій Україні</p>
            </div>
        </div>
        <img src="../../img/ua-map.webp" alt="Ukraine map" class="ukr-map">

    </div>

    <div class="about-us wrapper">
        <h2 class="about-us--title">Про нас</h2>

        <div class="about-us-row--container">
            <p class="about-us-row--container--text main-font-color">Ми забезпечуємо швидку 
                та надійну евакуацію автомобілів у будь-яких обставинах, незалежно 
                від місця та часу. </p>
                <img src="../../img/speed-icon.webp" alt="Speed sign" class="about-us-row--container--img">
        </div>

        <div class="about-us-row--container">
            <img src="../../img/road-icon.webp" alt="Speed sign" class="about-us-row--container--img">
            <p class="about-us-row--container--text main-font-color right-side-text">Довіртеся нам 
                та переконайтеся у високій якості наших послуг!</p>
        </div>


        <div class="about-us-row--container">
            <p class="about-us-row--container--text main-font-color">Ми знаємо, як діяти 
                в небезпечних ситуаціях 
                та завжди готові до дії.</p>
                <img src="../../img/animal-icon.webp" alt="Speed sign" class="about-us-row--container--img">
        </div>


        <div class="about-us-row--container">
            <img src="../../img/build-icon.webp" alt="Speed sign" class="about-us-row--container--img">
            <p class="about-us-row--container--text main-font-color right-side-text">Базуємося у Вінніцькій області. Але працюємо по всій Україні.</p>
        </div>

        <div class="about-us-row--container">
            <p class="about-us-row--container--text main-font-color">Наша мета - забезпечити якісну та надійну послугу для наших клієнтів.</p>
                <img src="../../img/direction-icon.webp" alt="Direction sign" class="about-us-row--container--img">
        </div>
        <div class="header-call-btn">
            <button class="header-call-btn primary-btn-bg">Зателефонувати</button>
        </div>
    </div>



    <div class="we-tow">
        <h2 class="we-tow--title">Ми евакуюєм:</h2>

        <div class="we-tow-row--container">
            <p class="we-tow-row--container--text main-font-color">Легкові 
                автомобілі</p>
                <img src="../../img/car.webp" alt="Speed sign" class="we-tow-row--container--img">
        </div>

        <div class="we-tow-row--container">
            <img src="../../img/crossover.webp" alt="Speed sign" class="we-tow-row--container--img">
            <p class="we-tow-row--container--text main-font-color right-side-text">Позашляховики
            </p>
        </div>


        <div class="we-tow-row--container">
            <p class="we-tow-row--container--text main-font-color">Мотоцикли</p>
                <img src="../../img/bike.webp" alt="Speed sign" class="we-tow-row--container--img">
        </div>


        <div class="we-tow-row--container">
            <img src="../../img/van.webp" alt="Speed sign" class="we-tow-row--container--img">
            <p class="we-tow-row--container--text main-font-color right-side-text">Мікроавтобуси та автобуси  </p>
        </div>

        <div class="we-tow-row--container">
            <p class="we-tow-row--container--text main-font-color">Спец. транспорт</p>
                <img src="../../img/special.webp" alt="Direction sign" class="we-tow-row--container--img">
        </div>
    </div>



    <div class="feedback wrapper">
        <h2 class="feedback-title main-font-color">Відгуки клієнтів</h2>
        <div class="feedback--card-container">
            <p class="onsurface-font-color feedback--card--description">
                Дуже задоволений якістю послуг, що надає компанія евакуаторних послуг. Швидка та професійна евакуація мого автомобіля пройшла без жодних неприємностей. Рекомендую цю компанію для всіх, хто потребує надійної допомоги на дорозі.
            </p>
            <span class="onsurface-font-color feedback--card--title">Сергій</span>
        </div>
        <div class="feedback--card-container">
            <p class="onsurface-font-color feedback--card--description">
                Вражаючий сервіс та професійний підхід до кожного клієнта. Команда евакуаторної служби завжди готова допомогти та вирішити будь-яку проблему. Якщо вам потрібна швидка та якісна евакуація, то ця компанія - ваш найкращий вибір.
            </p>
            <span class="onsurface-font-color feedback--card--title">Олексій</span>
        </div>
        <div class="feedback--card-container">
            <p class="onsurface-font-color feedback--card--description">
                Дуже задоволений евакуацією мого автомобіля. Професійний підхід, висока якість та швидкість надання послуг - все це робить компанію евакуаторних послуг найкращим вибором для мене та моїх друзів. Я рекомендую їх послуги всім, хто потребує надійної допомоги на дорозі.
            </p>
            <span class="onsurface-font-color feedback--card--title">Влад</span>
        </div>
        <div class="feedback--card-container">
            <p class="onsurface-font-color feedback--card--description">
                Нещодавно я звернувся до сервісу евакуатора і був приємно здивований високою якістю обслуговування. Водій був дуже професійним та швидко та безпечно доставив мій автомобіль до місця призначення. Я обов'язково звернуся до цього сервісу ще раз, якщо знадобиться.
            </p>
            <span class="onsurface-font-color feedback--card--title">Іван</span>
        </div>
    </div>

    <div class="galary wrapper">
        <h2 class="galary--title main-font-color">Галерея</h2>

        <swiper-container>
            <swiper-slide>Slide 1</swiper-slide>
            <swiper-slide>Slide 2</swiper-slide>
            <swiper-slide>Slide 3</swiper-slide>
            <swiper-slide>Slide ...</swiper-slide>
          </swiper-container>
<!-- вставити потім карусель -->
    </div>

    <div class="contacts">
        <h2 class="contacts--title">Контакти</h2>
        <div class="contacts-phone-block">
            <h2 class="contacts-phone-block--title">Телефон</h2>
            <div class="contacts-phone-block--container">
                <p class="contacts-phone-block--number">+38 (068) 006 42 11</p>
                <p class="contacts-phone-block--copy">Копіювати</p>
            </div>
        </div>

        <div class="contacts-work-block">
            <h2 class="contacts-work-block--title">Графік роботи</h2>
            <div class="contacts-work-block--container">
                <p class="contacts-work-block--number">ПН - НД</p>
                <p class="contacts-work-block--copy">00:00 - 24:00</p>
            </div>
        </div>

        <div class="socials">
            <div class="socials-telegram--block">
                <img src="../../img/telegram-icon.png" alt="Telegram icon">
                <p class="socials-telegram--number">Telegram</p>
            </div>
            <div class="socials-instagram--block">
                <img src="../../img/instagram-icon.png" alt="Instagram icon">
                <p class="socials-instagram--number">Instagram</p>
            </div>
            <div class="socials-facebook--block">
                <img src="../../img/facebook-icon.png" alt="Facebook icon">
                <p class="socials-facebook--number">facebook</p>
            </div>
        </div>
    </div>


</main>
