<main class="main main-wrapper">

    <div class="whyWe wrapper">
        <h2>Чому ми?</h2>
        <div class="whyWe-block">
            <img src="../../img/timeIcon.png" alt="Time icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">24/7</h3>
                <p class="whyWe-block-description--text">графік роботи</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/smileIcon.png" alt="Smile icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">1000+</h3>
                <p class="whyWe-block-description--text">щасливих клієнтів</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/calendarIcon.png" alt="Calendar icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">8+</h3>
                <p class="whyWe-block-description--text">років досвіду</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/payIcon.png" alt="Card icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">Безготівкова</h3>
                <p class="whyWe-block-description--text">оплата, якщо вам зручніше</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/securityIcon.png" alt="Security icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">Безпека</h3>
                <p class="whyWe-block-description--text">відповідно до норм та правил</p>
            </div>
        </div>

        <div class="whyWe-block">
            <img src="../../img/ukrIcon.png" alt="Ukraine icon" class="whyWe-block-img">
            <div class="whyWe-block-description">
                <h3 class="whyWe-block-description--title">Без кордонів</h3>
                <p class="whyWe-block-description--text">працюємо по всій Україні</p>
            </div>
        </div>
        <img src="../../img/ua-map.png" alt="Ukraine map" class="ukr-map">

    </div>

    <div class="about-us wrapper">
        <h2 class="about-us--title">Про нас</h2>

        <div class="about-us-row--container">
            <p class="about-us-row--container--text main-font-color">Ми забезпечуємо швидку
                та надійну евакуацію автомобілів у будь-яких обставинах, незалежно
                від місця та часу. </p>
            <img src="../../img/speed-icon.png" alt="Speed sign" class="about-us-row--container--img">
        </div>

        <div class="about-us-row--container">
            <img src="../../img/road-icon.png" alt="Speed sign" class="about-us-row--container--img">
            <p class="about-us-row--container--text main-font-color right-side-text">Довіртеся нам
                та переконайтеся у високій якості наших послуг!</p>
        </div>


        <div class="about-us-row--container">
            <p class="about-us-row--container--text main-font-color">Ми знаємо, як діяти
                в небезпечних ситуаціях
                та завжди готові до дії.</p>
            <img src="../../img/animal-icon.png" alt="Speed sign" class="about-us-row--container--img">
        </div>


        <div class="about-us-row--container">
            <img src="../../img/build-icon.png" alt="Speed sign" class="about-us-row--container--img">
            <p class="about-us-row--container--text main-font-color right-side-text">Базуємося у Вінніцькій області. Але
                працюємо по всій Україні.</p>
        </div>

        <div class="about-us-row--container">
            <p class="about-us-row--container--text main-font-color">Наша мета - забезпечити якісну та надійну послугу
                для наших клієнтів.</p>
            <img src="../../img/direction-icon.png" alt="Direction sign" class="about-us-row--container--img">
        </div>
        <div class="header-call-btn">
            <button class="header-call-btn primary-btn-bg">Зателефонувати</button>
        </div>
    </div>

    <div class="we-tow">
        <h2 class="we-tow--title">Ми евакуюєм:</h2>
        <div class="we-tow-row--container">
            <p class="we-tow-row--container--text main-font-color">Легкові
                автомобілі</p>
            <img src="../../img/car.png" alt="Speed sign" class="we-tow-row--container--img">
        </div>
        <div class="we-tow-row--container">
            <img src="../../img/crossover.png" alt="Speed sign" class="we-tow-row--container--img">
            <p class="we-tow-row--container--text main-font-color right-side-text">Позашляховики
            </p>
        </div>
        <div class="we-tow-row--container">
            <p class="we-tow-row--container--text main-font-color">Мотоцикли</p>
            <img src="../../img/bike.png" alt="Speed sign" class="we-tow-row--container--img">
        </div>
        <div class="we-tow-row--container">
            <img src="../../img/van.png" alt="Speed sign" class="we-tow-row--container--img">
            <p class="we-tow-row--container--text main-font-color right-side-text">Мікроавтобуси та автобуси </p>
        </div>
        <div class="we-tow-row--container">
            <p class="we-tow-row--container--text main-font-color">Спец. транспорт</p>
            <img src="../../img/special.png" alt="Direction sign" class="we-tow-row--container--img">
        </div>
    </div>


    <div class="feedback wrapper">
        <h2 class="feedback-title main-font-color">Відгуки клієнтів</h2>
        <div class="feedback--card-container">
            <p class="onsurface-font-color feedback--card--description">
                Дуже задоволений якістю послуг, що надає компанія евакуаторних послуг. Швидка та професійна евакуація
                мого автомобіля пройшла без жодних неприємностей. Рекомендую цю компанію для всіх, хто потребує надійної
                допомоги на дорозі.
            </p>
            <span class="onsurface-font-color feedback--card--title">Сергій</span>
        </div>
        <div class="feedback--card-container">
            <p class="onsurface-font-color feedback--card--description">
                Вражаючий сервіс та професійний підхід до кожного клієнта. Команда евакуаторної служби завжди готова
                допомогти та вирішити будь-яку проблему. Якщо вам потрібна швидка та якісна евакуація, то ця компанія -
                ваш найкращий вибір.
            </p>
            <span class="onsurface-font-color feedback--card--title">Олексій</span>
        </div>
        <div class="feedback--card-container">
            <p class="onsurface-font-color feedback--card--description">
                Дуже задоволений евакуацією мого автомобіля. Професійний підхід, висока якість та швидкість надання
                послуг - все це робить компанію евакуаторних послуг найкращим вибором для мене та моїх друзів. Я
                рекомендую їх послуги всім, хто потребує надійної допомоги на дорозі.
            </p>
            <span class="onsurface-font-color feedback--card--title">Влад</span>
        </div>
        <div class="feedback--card-container">
            <p class="onsurface-font-color feedback--card--description">
                Нещодавно я звернувся до сервісу евакуатора і був приємно здивований високою якістю обслуговування.
                Водій був дуже професійним та швидко та безпечно доставив мій автомобіль до місця призначення. Я
                обов'язково звернуся до цього сервісу ще раз, якщо знадобиться.
            </p>
            <span class="onsurface-font-color feedback--card--title">Іван</span>
        </div>
    </div>


    <div class="galary wrapper">
        <h2 class="galary--title main-font-color">Галерея</h2>
        <div class="galary-slider">
            <img src="../../img/carsGalery/car1.jpg" alt="Car image">
            <img src="../../img/carsGalery/car2.jpg" alt="Car image">
            <img src="../../img/carsGalery/car3.jpg" alt="Car image">
            <img src="../../img/carsGalery/car4.jpg" alt="Car image">
            <img src="../../img/carsGalery/car5.jpg" alt="Car image">
            <img src="../../img/carsGalery/car6.jpg" alt="Car image">
            <img src="../../img/carsGalery/car7.jpg" alt="Car image">
            <img src="../../img/carsGalery/car8.jpg" alt="Car image">
            <img src="../../img/carsGalery/car9.jpg" alt="Car image">
            <img src="../../img/carsGalery/car10.jpg" alt="Car image">
            <img src="../../img/carsGalery/car11.jpg" alt="Car image">
            <img src="../../img/carsGalery/car12.jpg" alt="Car image">
            <img src="../../img/carsGalery/car13.jpg" alt="Car image">
            <img src="../../img/carsGalery/car14.jpg" alt="Car image">
            <img src="../../img/carsGalery/car15.jpg" alt="Car image">
            <img src="../../img/carsGalery/car16.jpg" alt="Car image">
            <img src="../../img/carsGalery/car17.jpg" alt="Car image">
            <img src="../../img/carsGalery/car18.jpg" alt="Car image">
            <img src="../../img/carsGalery/car19.jpg" alt="Car image">
            <img src="../../img/carsGalery/car20.jpg" alt="Car image">
            <img src="../../img/carsGalery/car21.jpg" alt="Car image">
            <img src="../../img/carsGalery/car22.jpg" alt="Car image">
            <img src="../../img/carsGalery/car23.jpg" alt="Car image">
            <img src="../../img/carsGalery/car24.jpg" alt="Car image">
            <img src="../../img/carsGalery/car25.jpg" alt="Car image">
            <img src="../../img/carsGalery/car26.jpg" alt="Car image">
            <img src="../../img/carsGalery/car27.jpg" alt="Car image">
            <img src="../../img/carsGalery/car28.jpg" alt="Car image">
            <img src="../../img/carsGalery/car29.jpg" alt="Car image">
            <img src="../../img/carsGalery/car30.jpg" alt="Car image">
        </div>
    </div>
    <div class="contacts">
        <h2 class="contacts--title">Контакти</h2>
        <div class="contacts-phone-block">
            <h2 class="contacts-phone-block--title">Телефон</h2>
            <div class="contacts-phone-block--container">
                <p class="contacts-phone-block--number">+38 (068) 006 42 11</p>
                <p class="contacts-phone-block--copy">Копіювати</p>
            </div>
        </div>
        <div class="contacts-work-block">
            <h2 class="contacts-work-block--title">Графік роботи</h2>
            <div class="contacts-work-block--container">
                <p class="contacts-work-block--number">ПН - НД</p>
                <p class="contacts-work-block--copy">00:00 - 24:00</p>
            </div>
        </div>
        <div class="socials">
            <div class="socials-telegram--block">
                <img src="../../img/telegram-icon.png" alt="Telegram icon">
                <a target="_blank" href="https://t.me/+380680064211" class="socials-telegram--number">Telegram</a>
            </div>
            <div class="socials-instagram--block">
                <img src="../../img/instagram-icon.png" alt="Instagram icon">
                <a target="_blank" href="https://instagram.com/evakuatorzhmerynka?igshid=NTdlMDg3MTY=" class="socials-instagram--number">Instagram</a>
            </div>
            <div class="socials-facebook--block">
                <img src="../../img/facebook-icon.png" alt="Facebook icon">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100077533521259" class="socials-facebook--number">facebook</a>
            </div>
        </div>
    </div>


</main>